.carousel-container{
    margin: 30px auto;
    /* border:  2px solid black;  */
    padding: 30px 10px;
     border-radius: 10px;
    
    overflow: hidden;
    max-width: 1100px;
    box-sizing: border-box;
    background-color: #5ad6a0aa;
}


.carousel{
    box-sizing: border-box;
    /* border:  2px solid red; */
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}
/* .carousel::-webkit-scrollbar{
    display: none;
} */

/* RESPONSIVE FOR LARGE SCREEN */
@media(max-width:1155px){
    .carousel-container{
        padding: 10px;
    }
} 