.upcoming_course_container{
    /* margin-top: 50px; */
    /* padding: 25px; */
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    display: flex;
    /* background-color: #5AD6A0; */
    /* background-color: white; */
    flex-direction: column;
    /* margin-left: 300px; */
    gap: 12px;
    /* margin-right: 130px; */
    /* border: 1px solid black; */
    border-radius: 3px;

    /* width: 250px; */
    
}
.no_upcoming{
    color: #6749c6;
}
.show{
    color: #666262;
}

@media only screen and (max-width: 600px) {
  
    }