
footer{
    box-sizing: border-box;
    background-color: #2a2b2d;
    color: #fff;
    /* margin-top: 15px; */
    width: 100%;
    border: 2px solid #2a2b2d;
}

.footer-container{
    display: flex;
    justify-content: space-around;
}
.left{
    width: 40%;
    padding: 60px 90px 30px 90px;
}
footer p{
    font-size: 16px;
    color: #c2beb7;
}
.left .left-box-content p{
    width: 250px;
}
.ap-logo-img{
    margin-top: -20px;
    display: flex;
}
.left-box-content{
    display: flex;
    flex-direction: column;
}
 .left-hr {
    outline: none;
    box-sizing: content-box;
    border: 1px solid #424244;
    width: 40px;
    margin-right: 600px;
}

.right{
 width: 60%;
 padding: 60px 90px 0px 90px;
}
.right div.right-content{
    /* border: 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.right-content .all-links{
    width: 30%;
   margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px  !important;
}
.right-content .all-links p{
    margin: 0;

}
.right div h5{
    margin-top: -4px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
}
.main-hr{
    width: 100%;
    outline: none;
    box-sizing: content-box;
    border: 1px solid #636060e7;
}

.footer-end{
    box-sizing: content-box;
    width: 85%;
    margin: 20px auto;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.footer-end .logos{
    font-size: 20px;
    display: block;
    display: flex;
    width: 100px;
    justify-content: space-between;
    cursor: pointer;
}
.footer-end .logo:hover{
    color: #6749C6;
}
.all-links h5{
    font-size: 18px !important;
}

/* RESPONSIVE FOR LARGE DEVICES */

@media(max-width:1000px){
    .left{
        width: 50%;
        padding: 60px 90px 30px 5px;
    }
    .right{
        width: 50%;
        padding: 60px 30px 0px 30px;
       }
    .right-content .all-links{
        width: 48%;
        gap:  5px;
    }
    .main-hr{
        width: 100%;
        outline: none;
        box-sizing: content-box;
        border: 1px solid #636060e7;
    }
    .footer-end{
        box-sizing: content-box;
        width: 100%;
        margin: 20px auto;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
}
/* RESPONSIVE FOR MEDIUM DEVICES */

@media(max-width:615px){
    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .left{
        width: 80%;
        padding: 20px 20px 10px 10px;
    }
    .right{
        width: 90%;
        padding: 10px 0px 0px 0px;
        margin: 0px auto;
       }
    .right-content .all-links{
      width: 48%;
     display: flex;
     flex-direction: column;
     gap: 5px  !important;
      }
    .footer-end{
        box-sizing: content-box;
        width: 100%;
        margin: 20px auto;
        font-size: 12px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .footer-end .logos{
        font-size: 16px;
        /* display: block; */
        margin-bottom: 7px;
        display: flex;
        width: 80px;
        justify-content: space-between;
        gap: 10px;
    }
}

/* SMALL */