Link{
  text-decoration: none;
  color: inherit;
  background-color: red;
}
.nav_link:visited{
  background-color :red;
}

.header{
    background-color: #ffffff;
    padding: 0px 10px;
    box-shadow: 0px 0px 0px 1px rgb(242, 236, 236);
}
button,a {
  cursor: pointer;
}
.main-nav{
    max-width: 1100px;
    margin: 0px auto;

} 
.upperBody{
    justify-content: center;
  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 5px 0px;
 padding-top: 10px;
} 
.arrow {
    border: 1px solid #666;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin: 0px 0px 4px 10px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .up-nav-left-content{
    display: flex;
     gap: 7px;
  }
  .up-nav-right-content{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  } 
  .search-nav{
    position: relative;
  }
  .search-nav input {
    padding: 8px 30px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 40px;
  }
  .search-nav input::placeholder{
    font-size: 15px;
    color: #999; 
  }
  input:focus{
    outline: none;
    border: 1px solid #666;

  }

  .search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 7px;
    color: #4f4d4d;
    font-size: 22px;
  }
   .nav-contact{
    display: flex;
   }
  .nav-phone-icon{
    align-self: center;
    margin-right: 5px;
    font-size: 22px;
   } 
  .nav-contact-num{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
  }

   .nav-btn{
    border: 1px solid grey;
    border-radius: 5px;
     font-size: 12px;
     font-weight: 500;
     padding: 10px 15px;
   }  
   .login-btn{
    padding: 0px 25px;
   }

   /* LOWER BODY OF HEADER */
   .lowerBodyChild{
      display: flex;
      gap: 20px;
      padding: 10px 0 7px 0;
      min-width: 585px;
      /* overflow-x: scroll; */
   }
   .lowerBody .lowerBodyChild a{
    font-size: 16px;
    color: #333333b7;
    font-weight: 500;
    text-decoration: none;
   }
   .lowerBody .lowerBodyChild a:hover{
    color: #333;
   }

   /* RESPONSIVENESS  */

   /* FOR LAREGE SCREEN */
   
   @media (max-width:1155px){
   
    .search-nav{
      display: none;
    }
   .nav-contact{
    display: none;
   }
   .main-nav{
    width: 95%;
   }
   .upperBody{
    display: flex;
    justify-content: space-between;
   }
  }

  /* FOR MEDIUM SCREEN */

  @media(max-width:615px){
    .up-nav-left-content img{
      display: none;
    }
    .up-nav-left-content button{
      margin-left: 0px !important;
      font-size: 12px !important;
    }
     .nav-btn{
      border: 1px solid grey;
      border-radius: 5px;
        width: 70px; 
        width: auto;
       font-size: 10px;
       min-height: 20px;
       /* min-width: 64px;
       max-width: 96px; */
     }   
     .up-nav-right-content img{
      width: 30px;
     }
     .up-nav-right-content{
      gap: 12px;
     }
     .lowerBody{
      overflow-x: scroll;
     }
     .lowerBody .lowerBodyChild{
      justify-content: flex-start;
     }
     .lowerBody::-webkit-scrollbar{
      display: none;
     }
     .lowerBody .lowerBodyChild a{
      font-size: 11px;
  
     }
  }