/* Purple:-#6749C6
Light Green:-#5AD6A0 */

.training01-container{
    background-color: #6749C6;
    color: #fff;
}
.chakra-container{
    /* border: 2px solid red; */
    max-width: 85%;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
}
.chakra-container div.tra{
    width: 45%;
}
.training01-rightbox{
    text-align: end;
    /* border: 2px solid red; */
}
.training01-rightbox img{
    width:90%;
    height: 100%;
    /* border: 2px solid black; */
}
.training01-leftbox{
    padding-top: 100px;
    /* border: 2px solid black; */
    /* padding-bottom: 50px; */
}
/* .tra{
    border: 2px solid black;
} */
.tra-heading{
    font-size: 50px;
    line-height: 50px;
}
.training01-btn{

    padding: 8px 50px;
    font-size: 22px;
    font-weight: bold;
    background-color: #5AD6A0;
    border: none;
    box-shadow: 5px 5px 0px #5ad6a087;
    border-radius: 3px;
    transition: all 0.05s ease-in;
    margin-top: 30px;
    margin-bottom: 30px;
}
.training01-btn:hover{
    box-shadow: none;
    transform: translate(5px,5px);
}

/* TRAINING 02 COMPONENT STYLING */

/* .training02-container{
    background-color: red;
} */
/* .training02-content{ */
    /* max-width: 1100px;
    margin: 0px auto; */
    /* border: 2px solid red; */
/* } */
.training02-section1{
    background-color: #ddf6ea;
    /* border: 2px solid red; */
    padding: 20px 0px;
}
.training02-section1-content{
    max-width: 85%;
    margin: 0px auto;
    /* border: 2px solid red; */
    
}
.specifications{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
}
.specification-content h1{
    font-size: 35px;
    font-weight: 700;
}
.specification-content p{
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
}
.specification-content{
    /* border: 2px solid green; */
    width: 260px;
}
.training02-section2{
    background-color: #fff;
    box-shadow: inset;
}
.training02-section2-content{
    max-width:85%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 80px 50px 0px;   
}
.section2-adv1{
    width: 40%;
}
.section2-adv2{
    width: 55%;
    /* border: 2px solid red; */
}
.section2-adv2 .componany-logo-img{
    padding: 20px;
    gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 
}

.section2-adv2 .componany-logo-img img{
    width: 130px;
}
.section2-adv1 h1{
    font-weight: 700;
}

/* SECTION 3 STYLING */

.Training03-main-container{
    background-color:#6749C6 ;
    color: white;
}
.training03-contents{
    max-width: 85%;
    margin: 0px auto;
}
.training03-contenet1{
    display: flex;
    gap: 20px;
}
.rightbox03{
    width: 40%;
    padding: 30px 0px;
}
.leftbox03{
    position: relative;
    width: 40%;
}
.leftbox03 p{
    position: absolute;
    font-size: 40px;
    width: 80%;
    font-weight: 600;
    line-height: 40px;
    top: 50%;
    left :30px;
    color: #5AD6A0;
}
.rightbox03 {
    font-size: 18px;
}
.training03-section1-img{
 background-image:linear-gradient(#ffffff17,#6649c6ea) ,url("https://skill-lync.com/nsimages/transform1.jpg");
 width: 90%;
 height: 400px;
 background-size: cover;
 background-repeat: no-repeat;
}
/* new things */
.training03-contenet2{
    padding: 40px 0px;
    border-bottom: 2px solid white;
}

.advantage-content{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;    
}
.advantage1 img{
    width: 40px;
}
.advantage1{
    width: 24%;
}
/* new things */
.training03-contenet3{
    padding: 40px 0px;
}
.training03-contenet3 h3{
    margin-bottom: 30px;
}
.training03-branches{
    display: flex;
    gap: 100px;
}
/* .engineer-branch{
    border: 2px solid green;
}
.branches-link{
    border: 2px solid green;
} */
.branch-button{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.branch-button button{
    align-self: flex-start;
    padding: 5px 70px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 3px;
    background-color: transparent;
    color: white;
}
.branch-button button:hover{
    background-color: #5AD6A0;
    color: black;
}
.all-branch-link{
    display: flex;
    flex-direction: column;
    gap: 10px;  
}
.all-branch-link a{
    color: white;
}
/* SECTION 4 STYLING */

.training04-main-container{
    padding: 50px 0px;
}
.training04-content{
    max-width: 85%;
    margin: 0px auto;
    /* border: 2px solid red; */
}
.training04-content h2{
    font-weight: 700;
    margin-bottom: 30px;
    margin-left: 20px;
}
.box04-main{
    display: flex;
    justify-content: space-between;
}
.box04{
    width: 31%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.box04 h1{
    background-color: #6749C6;
    color: white;
    padding: 30px 0px;
    margin-bottom:  0px !important;
    text-align: center;
}
.pra{
    margin-bottom: 0px !important;
    padding: 5px 8px;
}
.box04-pra1{
    background-color: #5AD6A0;
}
.box04-pra2{
    background-color: #6749C6;
    color: white;
}
.box04-pra3{
    background-color: #5AD6A0;
}
.box04-pra4{
    background-color: #6749C6;
    color: white;
}
.box04-pra5{
    background-color: #5AD6A0;
}
.know-more-button{
    background-color: #6749C6;
    text-align: center;
    padding: 50px 0px 20px 0px;
}
.know-more-button button{
    padding: 8px 70px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0px #5ad6a087;
    background-color: #5AD6A0;
    font-weight: 500;
    font-size: 16px;
}
.know-more-button button:hover{
    box-shadow: none;
    transform: translate(5px,5px);
}

/* TRAINING SECTION 05 STYLING */

.training05-main-container{
    max-width: 85% ;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.contact05-content h1{
    font-weight: 700;
    line-height: 40px;
}
.contact05-content p{
    font-size: 22px;
    line-height: 25px;
    margin-top: 25px;
}
.contact05-content{
    width: 48%;
}
.contact05-form{
    width: 48%;
}
.contact05-form form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.contact05-form form input{
    display: block;
    width: 95%;
    padding: 10px 20px;
    border-radius: 5px;
}
.contact05-form form button{
    padding: 8px 0px;
    font-size: 22px;
    font-weight: 500;
    background-color: #6749C6;
    color: #fff;
    border-radius: 7px;
    overflow: hidden;
    border:  none;
    margin-top: 25px;
}
.phone05{
    width: 95%;
}

/* RESPONSIVE FOR MEDIUM SCREEN */

@media(max-width:1153px){
    .chakra-container div.tra{
        width: 48%;
    }
    .training01-rightbox img{
        background-position: center;
    }
    .training01-leftbox{
        padding-top: 30px;
        /* padding-bottom: 50px; */
    }
        /* TRAINING SECTION 3 STYLING */
        .rightbox03{
            width: 60%;
            padding: 30px 0px;
        }
        .training03-contenet2{
            padding: 20px 0px;
            border-bottom: 2px solid white;
        }
        /* section 03 part 3 */
        .training03-contenet3{
            padding: 20px 0px;
        }
        /* SECTION 04 STYLING */
        .training04-content{
            max-width: 95%;
            margin: 0px auto;
            /* border: 2px solid red; */
        }
}
@media(max-width:960px){
    /* .training01-leftbox{
        max-width: 60%;
        border: 10px solid green;
    } */
    .training01-rightbox img{
        height: auto;
        width: 100%;
    }
    .training01-leftbox h1{
        line-height: 40px;
    }
    .training01-leftbox p{
        line-height: 25px;
    }
    .tra-heading{
        font-size: 40px;
    }
    .training01-btn{
        padding: 8px 40px;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom:10px;
    }
    /* Training02 responsive */
    .specifications{
        margin: 0px auto;
        display: flex;
        max-width: 90%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* border: 2px solid black; */
    }
    .specification-content{
       width: 50%;
       /* border: 1px solid green; */
    }
    .content02-1,.content02-3{
        border-right: 1px solid #666;
        padding: 5px;
    }
    .content02-1,.content02-2{
        border-bottom: 1px solid #666;
        padding: 5px;
    }
    .content02-4{
        padding: 5px;
    }
    .section2-adv2 .componany-logo-img img{
        width: 120px;
        /* border: 2px solid green; */
    }
    /* TRAINING SECTION 3 STYLING */
    .training03-section1-img{
        width: 100%;
        height: 400px;
       }
       .leftbox03 p{
        position: absolute;
        font-size: 32px;
        width: 95%;
        line-height: 30px;
        top: 60%;
        left :20px;
    }
    /* TRAINING03 PART2 */
    .advantage-content{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        /* width: 80%; */
        justify-content: space-between;    
    }
    .advantage1 img{
        width: 40px;
    }
    .advantage1{
        width: 48%;
    }
    .advantage1 p{
        margin-top: 10px;
    }
    /* TRAINING03 PART 3 responsive */
    .branch-button{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .branch-button button{
        align-self: flex-start;
        padding: 5px 50px;
    }
    .training03-branches{
        display: flex;
        gap: 20px;
    }
    /* SECTION 04 STYLING */
    .know-more-button button{
        padding: 8px 50px;
    }

}
@media(max-width:765px){
    .chakra-container{
        /* border: 2px solid red; */
        max-width: 85%;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        justify-content: space-between;
    }
    .chakra-container div.tra{
        /* text-align: center; */
        width: 100%;
        /* border:5px solid green */
    }
    .training01-leftbox h1{
        width: 70%;
        /* border: 2px solid red; */
    }
    .training01-leftbox p{
        width: 80%;
    }
    .training01-rightbox img{
        width:90%;
        height: auto;
    }
    .training01-rightbox{
        text-align: center;
        margin-top: 20px;
        text-align: start;
    }
    .section2-adv2 .componany-logo-img img{
        width: 100px;
        grid-column-gap: 10px;
    }
    .section2-adv1 h1{
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
    }
    /* TRAINING03 STYLING */
    .training03-section1-img{
        width: 100%;
        height: 350px;
       }
       .leftbox03 p{
        position: absolute;
        font-size: 30px;
        width: 98%;
        line-height: 25px;
        top: 50%;
        left :10px;
    }
    .rightbox03{
        font-size: 16px;
    }
    .training03-branches{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .branch-button{
        display: grid;
        grid-template-columns: repeat(3,auto);
    }
    .branch-button button{
        font-size: 16px;
        padding: 5px 20px;
        border-radius: 20px;
    }
    .all-branch-link{
        display: flex;
        flex-direction: column;
        gap: 5px;  
    }
    .all-branch-link a{
        font-size: 14px;
    }
    .training03-branches{
        font-size: 14px;
    }
    /* Training04 styling */
    .box04-main{
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: space-between;
    }
    .box04{
        width: 80%;
    }
    .training04-content h2{
        text-align: center;
    }
    /* TRAINING05 STYLING */
    .training05-main-container{
        max-width: 85% ;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contact05-content h1{
        font-weight: 700;
        line-height: 33px;
    }
    .contact05-content p{
        font-size: 22px;
        line-height: 25px;
        margin-top: 15px;
    }
    .contact05-content{
        width: 100%;
    }
    .contact05-form{
        width: 100%;
    }

}
@media(max-width:568px){
    .training01-leftbox h1{
        width: 90%;
        font-size: 30px;
        line-height: 30px;
        /* border: 2px solid red; */
    }
    .training01-leftbox p{
        width: 90%;
    }
    /* TRAINING02 RESPONSIVE STYLE */
       .specification-content h1{
        font-size: 25px;
        font-weight: 700;
    }
    .specification-content p{
        font-size: 16px;
        font-weight: 500;
        line-height: 15px;
    }
    .training02-section2-content{
        max-width:85%;
        margin: 0px auto;
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 0px 0px 0px;  
    }
    .section2-adv1{
        width: 90%;
        margin-bottom: 20px;
    }
    .section2-adv2{
        width: 100%;
        align-items: start;
    }
    .section2-adv2 .componany-logo-img img{
        width: 80px;
        grid-column-gap: 5px;
    }
    .section2-adv2 .componany-logo-img{
        padding: 0px;
        padding-bottom: 20px;
    }
      /* TRAINING03 STYLING */
      .training03-section1-img{
        width: 100%;
        height: 200px;
       }
       .leftbox03 p{
        position: absolute;
        font-size: 18px;
        width: 98%;
        line-height: 18px;
        top: 48%;
        left :10px;
    }
    .rightbox03{
        width: 65%;
        font-size: 14px;
        padding: 0px;
        line-height: 16px;
    }
    .advantage1 p{
        font-size: 18px;
        line-height: 18px;
    }
    /* }TRAINING03 PART 03 */
    .branch-button button{
        font-size: 14px;
        padding: 5px 12px;
        border-radius: 10px;
    }
    /* TRAINING05 STYLING */
    .contact05-content h1{
        font-weight: 700;
        line-height: 30px;
    }
    .contact05-form form button{
        padding: 8px 0px;
        font-size: 18px;
        font-weight: 500;
        background-color: #6749C6;
        color: #fff;
        border-radius: 7px;
        overflow: hidden;
        border:  none;
        margin-top: 15px;
    }
    
}